.containerA{
    display: flex;
    flex-direction: column;
   
    background-color: rgba(210, 210, 210, 0.434);
    border-bottom: 1px solid white;
    min-height: 25%;
}

body{
    background-image: url(Images/stoogesgif1.gif);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.containerB{
    display: flex;
    flex-direction: column;
    height: 600px;
}
.topheaderimage{
    background-image: url(Images/Stoogelogo.png);
    background-size: cover;
    
    min-height: 100px;
    min-width: 200px;
    padding:4px;
    margin:4px
   
}
.characterscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.characternames{
    background-color: black;
    border: 1px solid white;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    margin: 0;

}

.topheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
 
}



.topheadermiddle{
    display: flex;
    flex: 2,1,auto;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;

    
}

a,b{
    font-family: stooges, 'Times New Roman', Times, serif;
    padding: 2px;
    color: white;
    text-align: center;
    
}

a{
    font-size: 36px;

}
b{
    font-size: 18px;
    letter-spacing: 2px;
}

button{
    background-color: rgb(119, 118, 118);
    width: 250px;
    height: 250px;
    margin:16px;
    border: 1px solid white;
}

.button_Option_1{
    background-image: url(Images/Moe1.gif);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}
.button_Option_1:hover{
    background-size: cover;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 4px 4px 4px 4px rgba(245, 244, 245, 0.2);
}
.button_Option_1:active{
    background-size: cover;
    cursor: pointer;
    border: 3px solid rgb(187, 118, 252);
    box-shadow: 4px 4px 4px 4px rgba(81, 0, 181, 0.2);
}




.button_Option_2{
    background-image: url(Images/Larry_1.gif);
    background-position: 70% 20%;
    background-size: cover;
    cursor: pointer;
}
.button_Option_2:hover{
    background-size: cover;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 4px 4px 4px 4px rgba(245, 244, 245, 0.2);
}
.button_Option_2:active{
    background-size: cover;
    cursor: pointer;
    border: 3px solid rgb(187, 118, 252);
    box-shadow: 4px 4px 4px 4px rgba(81, 0, 181, 0.2);
}



.button_Option_3{
    background-image: url(Images/Curly.gif);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.button_Option_3:hover{
    background-size: cover;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 4px 4px 4px 4px rgba(245, 244, 245, 0.2);
}
.button_Option_3:active{
    background-size: cover;
    cursor: pointer;
    border: 3px solid rgb(187, 118, 252);
    box-shadow: 4px 4px 4px 4px rgba(81, 0, 181, 0.2);
}







.buttonnb{
    background-image: url(Images/stooge1.png);
    background-size: contain;
}




@font-face {
    font-family: stooges;
    src: url(Fonts/TheThreeStoogesFont.ttf);
}
